{% comment %}
  This is the wrapper for form errors
{% endcomment %}

<div id="notice" class="notice__form-error" aria-live="polite" role="alert">
  <ul class="form-error__list">
    {% for error in errors %}
      <li class="form-error__list-item">
        {{ error }}
      </li>
    {% endfor %}
  </ul>
</div>
