<section class=
  "
    rich-text section-height__medium
    {% include 'section_utility_heading_alignment' %}
  "
  data-preview-item="rich_text"
>
  <div class="rich-text__container">
    <article class="rich-text__wrapper">
      {% include 'section_headings' %}
      <div class="section__content">
        <div class="section__body">
          {{ section.settings.body }}
        </div>
      </div>
    </article>
  </div>
</section>

{% style %}

.rich-text {
  {% include 'section_style_background_color' %}
  {% include 'section_style_heading_alignment' %}

  {% if section.settings.section_padding_top %}
    .rich-text__container {
      padding-top: 0;
    }
  {% endif %}

  {% if section.settings.section_padding_bottom %}
    .rich-text__container {
      padding-bottom: 0;
    }
  {% endif %}
}

{% endstyle %}

{% schema %}
{
  "label":"Text & media",
  "description":"",
  "previewImageUrl":"https://cdn.thinkific.com/57/20210222/d0ff89cc20c6c27ac89d4e4f44baf12d.png",
  "previewDescription":"Style your page to make it flow",
  "settings":[
    {
      "label":"Headings",
      "settings":[
        {
          "type":"text",
          "id":"heading",
          "label":"Heading",
          "default":"Text & media"
        },
        {
          "type":"text",
          "id":"subheading",
          "label":"Subheading",
          "default":""
        },
        {
          "type":"radio",
          "id":"heading_alignment",
          "label":"Alignment",
          "description":"",
          "default":"left",
          "options":[
            {
              "value":"left",
              "label":"Left"
            },
            {
              "value":"center",
              "label":"Center"
            },
            {
              "value":"right",
              "label":"Right"
            }
          ]
        }
      ]
    },
    {
      "label":"Background & layout",
      "settings":[
        {
          "type":"select",
          "id":"background_color",
          "label":"Color",
          "description":"",
          "default":"background_1",
          "options":[
            {
              "value":"background_1",
              "label":"Primary"
            },
            {
              "value":"background_2",
              "label":"Secondary"
            },
            {
              "value":"background_3",
              "label":"Tertiary"
            }
          ]
        },
        {
          "type":"checkbox",
          "id":"section_padding_top",
          "label":"Remove top section padding",
          "default":false
        },
        {
          "type":"checkbox",
          "id":"section_padding_bottom",
          "label":"Remove bottom section padding",
          "default":false
        }
      ]
    },
    {
      "type":"richtext",
      "id":"body",
      "label":"Content",
      "default":"The other sections are styled to help you create beautiful, high-converting pages. If you already know exactly what you want, use this section to add text, images, video, audio, etc. and build something completely custom. This is your sandbox — create what you want!"
    }
  ]
}
{% endschema %}
