{% if section.settings.banner_enabled %}
  <section
    class="banner student-dashboard__banner section-background section-background-overlay section__content-alignment--left section--has-additional-prices banner___6ca73"
    data-preview-item="banner"
    data-section-uid="sQaqaFHSF"
  >
    <div class="banner__container banner__container--small">
      <div class="banner__wrapper">
        <article class="section__content section__content___6ca73">
          <header class="section__headings">
            <h2 class="section__heading section__heading___6ca73">
              {{ section.settings.banner_heading_text | upcase }}
            </h2>

            <p class="section__subheading section__subheading___6ca73">{{ section.settings.banner_subheading_text }}</p>
          </header>
        </article>
      </div>
    </div>
  </section>
{% endif %}

{% style %}
  .student-dashboard__banner {
    {% include 'section_style_background_color' %}
  }
{% endstyle %}

{% schema %}
{
  "label": "Default",
  "settings": [
    {
      "label": "Banner",
      "settings": [
        {
          "type": "checkbox",
          "id": "banner_enabled",
          "label": "Show student dashboard banner",
          "default": true
        },
        {
          "type": "select",
          "id": "background_color",
          "label": "Background color",
          "description": "<small>Set your colors in Theme Settings</small>",
          "default": "background_2",
          "options": [
            {
              "value": "background_1",
              "label": "Primary"
            },
            {
              "value": "background_2",
              "label": "Secondary"
            },
            {
              "value": "background_3",
              "label": "Tertiary"
            }
          ]
        },
        {
          "type": "text",
          "id": "banner_heading_text",
          "label": "Heading text",
          "default": "My programs"
        },
        {
          "type": "text",
          "id": "banner_subheading_text",
          "label": "Subheading text",
          "default": "What are you looking to learn today?"
        }
      ]
    }
  ]
}
{% endschema %}
