{% comment %}
  This is the checkout thankyou page.
  Specifically, this is the page where a user lands after purchasing a product.
{% endcomment %}

<main class="checkout checkout__thankyou" id="main-content" role="main">
  <div class="checkout__container">
    <div class="checkout__wrapper">
      {% section 'checkout_thankyou' %}
    </div>
  </div>
  {{ content_for_page }}
</main>

{% schema %}
{
  "description": "The upsells [smart section] can be previewed for each specific product in its after purchase settings. <a href='https://support.thinkific.com/hc/en-us/articles/360030722993-After-Purchase-Flow' target='_blank'>Learn more</a>.",
  "sections":{
    "options":[
      "banner",
      "checkout_thankyou_upsells",
      "course_cards",
      "frequently_asked_questions",
      "call_to_action",
      "countdown",
      "video"
    ],
    "defaults":[
      "checkout_thankyou_upsells"
    ]
  }
}
{% endschema %}
